{% extends 'base.html.twig' %}
{% block title %}Football{% endblock %}
{% block slider %}{% include 'slider_football.html.twig' %}{% endblock %}
 
{% block body %}
{% set current_path = app.request.get('_route') %}

<div class="wrap-football">
    <div class="container ">
        <div class="row" >
            <div class="col-md-4 d-none d-md-block" id="sticky-sidebar">
                <!-- Side Navigation --> 
                <div class="card backgd">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase ">Tous les sports</h2>
                        <ul>
                            <li class="nav{% if current_path == 'mrsport_homepage' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('mrsport_football') }}">Football</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_basket') }}">Basket</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_rugby') }}">Rugby</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_hockey') }}">Hockey</a>
                            </li> 
                        </ul>
                    </div> 
                </div>
                <br>
                <!-- End Side Navigation --> 
                <!-- NewsLetter --> 
                <div class="card backgd_newsletter ">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">NewsLetter</h2>
                        <p>Nec minus feminae quoque calamitatum participes fuere similium.<br><br> </p> 
                    
                    <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div> 
                </div>
                <br>
                <!-- End Side Navigation --> 
                <!-- News --> 
                <div class="card backgd_news ">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">News</h2>
                    
                        <img src="{{ asset('img/news.png') }}" alt="image news" class="img-thumbnail">
                    
                    </div> 
                </div>
                <!-- End News-->               
            </div>
            <!-- End col-4--> 
            <div class="col-md-8 " id="main">
                <div class="">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.5/iframeResizer.min.js"></script><script>if(!window._rsz){window._rsz=function(){var i=iFrameResize({checkOrigin:false,interval:100});};if(document.readyState!="loading"){_rsz()}else{document.addEventListener("DOMContentLoaded",_rsz)}}</script><iframe id="5afec72af56cdb70df29ed2c" src="https://scorenco.com/widget/5afec72af56cdb70df29ed2c/?auto_height=true" style="display: block; width: 80%; overflow: auto; margin: auto; border-width: 0px;" scrolling="no"></iframe>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}