{% extends 'base.html.twig' %}
{% block title %}Evènement{% endblock %}
{% block slider %}{% include 'slider_evenement.html.twig' %}{% endblock %}

{% block body %}
{% block evenement %}
<div class="wrap-evenement">
    <div class="container ">
            {# <h2 class="text-center">Liste des évènements</h2> #}
            <table class="table table-bordered table-hover ">
                <thead class="">
                    <tr>
                        {# <th scope="col" >Id</th> #}
                        <th class="" scope="col" >Evénement et emplacement</th>
                        <th class="bg-secondary" scope="col" >Date</th>

                        <!--Update events-->
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <th scope="col" >Modifier</th>
                        {% endif %}

                    </tr> 
                </thead>
                <tbody>
                {% for evenement in evenements %}
                    <tr >
                        {# <td><a href="{{ path('evenements_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td> #}
                        <td>
                            <a href="{{ path('evenements_show', { 'id': evenement.id }) }}" class="nav-link">
                                <span class="name_evenement">{{ evenement.name }}</span> <br> 
                                <span class="adress_evenement text-muted">{{ evenement.adresse }}, </span> 
                                <span class="city_evenement  text-uppercase text-warning">{{ evenement.ville }}</span>
                            </a>
                        </td>
            
                        <td ><span class="date_evenement  text-uppercase" >{% if evenement.date %}
                                    {{ evenement.date|date('d.m.Y') }}
                                {% endif %}</span> <br>

                            <span class="time_evenement">{% if evenement.time %}
                                    {{ evenement.time|date('H:i') }}
                                {% endif %} </span>
                        </td> 
 
                        {% if is_granted("ROLE_SUPER_ADMIN") %}
                        <td>
                            <ul>
                                <li>
                                    <a class="date_evenement" href="{{ path('evenements_edit', { 'id': evenement.id }) }}">Modifier</a>
                                </li>
                            </ul>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="text-center p_events" >
            <p class="text-center name_evenement">Vous participez à un évènement ou avez connaissance d'un évènement sportif, n'hésitez pas à le partager avec nous.</p>
            <a class="btn btn-primary" href="{{ path('evenements_new') }}">Je propose un évenement</a>
        </div>    
    </div> 
</div>
        {% endblock %}
{% endblock %}
