{% extends 'base.html.twig' %}

{% block body %}
    {% block evenement %}
        <h1>Evenements list</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td><a href="{{ path('evenements_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td>
                    <td>{% if evenement.date %}{{ evenement.date|date('Y-m-d') }}{% endif %}</td>
                    <td>{% if evenement.time %}{{ evenement.time|date('H:i:s') }}{% endif %}</td>
                    <td>{{ evenement.adresse }}</td>
                    <td>{{ evenement.ville }}</td>
                    <td>{{ evenement.description }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('evenements_show', { 'id': evenement.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('evenements_edit', { 'id': evenement.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('evenements_new') }}">Create a new evenement</a>
            </li>
        </ul>
    {% endblock %}
    
{% endblock %}
