{% extends 'base.html.twig' %}
{% block title %}Evènement{% endblock %}
{% block slider %}{% include 'slider_evenement.html.twig' %}{% endblock %}

{% block body %}
<div class="container">
    {% block evenement %}
    
        <h2 class="text-center">Liste des évènements</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    {# <th scope="col" >Id</th> #}
                    <th scope="col" >Evenement et emplacement</th>
                    <th scope="col" >Date</th>
                   
                    <th scope="col" >Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for evenement in evenements %}
                <tr  >
                    
                    {# <td><a href="{{ path('evenements_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td> #}
                    <td> Venez participez au  {{ evenement.description }} au {{ evenement.adresse }} {{ evenement.ville }}  </td>
        
                    <td > Le  {% if evenement.date %}{{ evenement.date|date('Y-m-d') }}{% endif %} 
                          à  {% if evenement.time %}{{ evenement.time|date('H:i:s') }}{% endif %} </td> 
                  
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('evenements_show', { 'id': evenement.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('evenements_edit', { 'id': evenement.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
            <p>  Vous participez à un évènement ou avez connaissance d'un évènement sportif, n'hésitez pas à aller le partager avec nous </p>
                <a href="{{ path('evenements_new') }}">Create a new evenement</a>
            </li>
        </ul>
    {% endblock %}
</div> 
{% endblock %}
