{% extends 'base.html.twig' %}
{% block title %}Voir Evénement{% endblock %}
{% block slider %}{% include 'slider_evenement.html.twig' %}{% endblock %}

{% block body %} 
<div class="wrap-evenement">
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
            <h2 class="card-title">{{ evenement.name }} à <span class="text-warning">{{ evenement.ville }}</span></h2>
            </div>
            <div class="card-body ">
                {# <h2 class="card-title">{{ evenement.name }}</h2> #}
                <p class="card-text">{{ evenement.description }}</p>
                <h2 class="">Adresse</h2>
                <p class="card-text">{{ evenement.adresse }}<br>{{ evenement.ville }} </p>
                
                
                <a href="{{ path('evenements_index') }}" class="nav-link">Retour à la liste des événements</a>
                <a class="nav-link" href="{{ path('evenements_new') }}">Je propose un évenement</a>
            </div>
            <div class="card-footer">
            <p>Date </p>
                {% if evenement.date %}{{ evenement.date|date('d.m.Y') }}{% endif %}
                {% if evenement.time %}{{ evenement.time|date('H:i') }}{% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
