{% extends 'base.html.twig' %}
{% block title %}Les clubs{% endblock %}
{% block slider %}{% include 'slider_club.html.twig' %}{% endblock %}

{% block body %}
<div class="wrap-evenement">
    <div class="container ">
        <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>President</th>
                    <th>Entraineur</th>
                    <th>Fondation</th>
                    <th>Couleur</th>
                    <th>Stade</th>
                    <th>Siteweb</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for club in clubs %}
                <tr>
                    <td>{{ club.name }}</td>
                    <td>{{ club.president }}</td>
                    <td>{{ club.entraineur }}</td>
                    <td>{% if club.fondation %}{{ club.fondation|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ club.couleur }}</td>
                    <td>{{ club.stade }}</td>
                    <td>{{ club.siteweb }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('club_show', { 'id': club.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('club_edit', { 'id': club.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            <ul>
                <li>
                    <a href="{{ path('club_new') }}">Créer un nouveau club</a>
                </li>
            </ul>
</div>
</div>

{% endblock %}
