{% extends 'base.html.twig' %}
{% block title %}Les clubs{% endblock %}
{% block slider %}{% include 'slider_football.html.twig' %}{% endblock %}



{% block body %}
<div class="wrap-club2">
    <div class="container container_profil">
        <div class="row" >
            <div class="col-md-4 d-none d-md-block" id="sticky-sidebar">
                <!-- Side Navigation --> 
                <div class="card backgd">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">Tous les sports</h2>
                        <ul>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_listeclubfootball') }}">Football</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_listeclubbasket') }}">Basket</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_listeclubrugby') }}">Rugby</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_listeclubhockey') }}">Hockey</a>
                            </li> 
                        </ul>
                    </div> 
                </div>
                <br>
                <!-- End Side Navigation --> 
                <!-- NewsLetter --> 
                <div class="card backgd_newsletter ">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">NewsLetter</h2>
                        <p>Nec minus feminae quoque calamitatum participes fuere similium. </p> 
                    
                    <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div> 
                </div>
                <br>
                <!-- End Side Navigation --> 
                <!-- News --> 
                <div class="card backgd_news ">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">News</h2>
                    
                        <img src="{{ asset('img/news.png') }}" alt="..." class="img-thumbnail">
                    
                    </div> 
                </div>
                <!-- End News-->               
            </div>
            <div class="col-md-8">
                <table class="table table-bordered table-hover " id="table_club">
                    <thead class="">
                        <tr>
                            {# <th scope="col" >Id</th> #}
                            <th class="" scope="col" >Nom du club</th>

                            <!--Update events-->
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <th scope="col" >Modifier</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for club in clubs %}
                        <tr >
                            {# <td><a href="{{ path('evenements_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td> #}
                            <td>
                                <a href="" class="nav-link">
                                    <span class="name_evenement">{{ club.name }}</span> <br>
                                </a>
                            </td>

                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                            <td>
                                <ul>
                                    <li>
                                        {# <a class="date_evenement" href="{{ path('evenements_edit', { 'id': evenement.id }) }}">Modifier</a> #}
                                    </li>
                                </ul>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            
                <h1>Liste des clubs</h1>


                <ul>
                    <li>
                        <a href="{{ path('club_new') }}">Créer un nouveau club</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
 </div>
{% endblock %}
