{% extends 'base.html.twig' %}
{% block title %}Proposition équipe{% endblock %}
{% block slider %}{% include 'slider_club_proposition.html.twig' %}{% endblock %}

{% block body %}
<div class="container-fluid"> 
    <div class="row container_evenement"> 
        <div class="container">
            <div class="col-md-9 mr-auto ml-auto wrap-evenement2">
                <h2 class="text-center">Proposition de club</h2>
                <!--form-->
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input class="btn btn-block btn-primary" type="submit" value="Valider Proposition" />
                {{ form_end(form) }}

                <ul class="nav justify-content-center">
                    <li class="club_link nav-item" >
                        <a href="{{ path('club_index') }}" class="nav-link" >Retour à la liste des clubs</a>
                        {# <a href="{{ path('fos_user_profile_show') }}">Mon profil</a> #}
                    </li>
                    <li class="club_link" >
                        <a href="{{ path('fos_user_profile_show') }}" class="nav-link">Mon profil</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
