{% extends 'base.html.twig' %}
{% block title %}Proposition équipe{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">

    <h1 class="text-center">Proposition de club</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Proposer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('club_index') }}">Retour à la liste des clubs</a>
            {# <a href="{{ path('fos_user_profile_show') }}">Mon profil</a> #}

        </li>
    </ul>

</div>
{% endblock %}
