{% extends 'base.html.twig' %}
{% block title %}lub{% endblock %}
{% block slider %}{% include 'slider_club.html.twig' %}{% endblock %}



{% block body %}
<div class="wrap-evenement">
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
            <h2 class="card-title">{{ club.name }} </h2>
            </div>
            <div class="card-body ">
                {# <h2 class="card-title">{{ evenement.name }}</h2> #}
                <p class="card-text">{{ club.name }}</p>
                <p class="card-text">{{ club.president }}</p>
                <p class="card-text">{{ club.entraineur }}</p>
                <p>{% if club.fondation %}{{ club.fondation|date('d.m.Y') }}{% endif %}</p>
                <p class="card-text">{{ club.couleur}}</p>
                <p class="card-text">{{ club.siteweb}}</p>

                <h2 class="">Adresse</h2>
                {# <p class="card-text">{{ club.ad }}<br>{{ evenement.ville }} </p> #}
                
                
                <a href="{{ path('club_index') }}" class="nav-link">Retour à la liste des clubs</a>
                <a class="nav-link" href="{{ path('club_new') }}">Je propose un club</a>
            </div>
            <div class="card-footer">
    

            </div>
        </div>
    </div>
</div>
{% endblock %}
