{% extends 'base.html.twig' %}
{% block title %}Les clubs{% endblock %}
{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}


{% block body %}
<div class="container">
    <h1>Club</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ club.name }}</td>
            </tr>
            <tr>
                <th>President</th>
                <td>{{ club.president }}</td>
            </tr>
            <tr>
                <th>Entraineur</th>
                <td>{{ club.entraineur }}</td>
            </tr>
            <tr>
                <th>Fondation</th>
                <td>{% if club.fondation %}{{ club.fondation|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ club.couleur }}</td>
            </tr>
            <tr>
                <th>Stade</th>
                <td>{{ club.stade }}</td>
            </tr>
            <tr>
                <th>Siteweb</th>
                <td>{{ club.siteweb }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('club_index') }}">Retour à la liste des clubs</a>
        </li>
        <li>
            <a href="{{ path('club_edit', { 'id': club.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
