{% extends 'base.html.twig' %}
{% block title %}Clubs{% endblock %}
{% block slider %}{% include 'slider_football.html.twig' %}{% endblock %}

{% block body %}

<div class="wrap-football">
    <div class="container container_profil">
        <div class="row" >
            <div class="col-md-4 d-none d-md-block" id="sticky-sidebar">
                <!-- Side Navigation --> 
                <div class="card backgd">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">Tous les sports</h2>
                        <ul>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_listeclubfootball') }}">Football</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_listeclubbasket') }}">Basket</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_listeclubrugby') }}">Rugby</a>
                            </li>
                            <li class="nav">
                                <a class="nav-link" href="{{ path('mrsport_listeclubhockey') }}">Hockey</a>
                            </li> 
                        </ul>
                    </div> 
                </div>
                <br>
                <!-- End Side Navigation --> 
                <!-- NewsLetter --> 
                <div class="card backgd_newsletter ">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">NewsLetter</h2>
                        <p>Nec minus feminae quoque calamitatum participes fuere similium. </p> 
                    
                    <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div> 
                </div>
                <br>
                <!-- End Side Navigation --> 
                <!-- News --> 
                <div class="card backgd_news ">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">News</h2>
                    
                        <img src="{{ asset('img/news.png') }}" alt="..." class="img-thumbnail">
                    
                    </div> 
                </div>
                <!-- End News-->               
           

    <h1>Liste des clubs de rugby</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>President</th>
                <th>Entraineur</th>
                <th>Fondation</th>
                <th>Couleur</th>
                <th>Stade</th>
                <th>Siteweb</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                {# <td><a href="{{ path('club_show', { 'sports_id': club.sports_id == "1" }) }}">{{ club.sports_id }}</a></td> #}
                <td>{{ club.name }}</td>
                <td>{{ club.president }}</td>
                <td>{{ club.entraineur }}</td>
                <td>{% if club.fondation %}{{ club.fondation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ club.couleur }}</td>
                <td>{{ club.stade }}</td>
                <td>{{ club.siteweb }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('club_new') }}">Créer un nouveau club</a>
        </li>
        <li>
            <a href="{{ path('club_index') }}">Retour à la liste des clubs</a>
        </li>
    </ul>
</div>
    </div>
    </div>
</div>
 </div>
{% endblock %}
