{% extends 'base.html.twig' %}
{% block title %}Clubs{% endblock %}
{% block slider %}{% include 'slider_club_football.html.twig' %}{% endblock %}

{% block body %}
        {% set current_path = app.request.get('_route') %}

<div class="wrap-club">
    <div class="container">
        <div class="row" >
            <div class="col-md-4 d-none d-md-block" id="sticky-sidebar">
                <!-- Side Navigation --> 
                <div class="card backgd">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">Tous les sports</h2>
                        <ul>
                            <li class="nav {% if current_path == 'mrsport_listeclubfootball' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('mrsport_listeclubfootball') }}">Football</a>
                            </li>
                            <li class="nav {% if current_path == 'mrsport_listeclubfootball' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('mrsport_listeclubbasket') }}">Basket</a>
                            </li>
                            <li class="nav {% if current_path == 'mrsport_listeclubfootball' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('mrsport_listeclubrugby') }}">Rugby</a>
                            </li>
                            <li class="nav {% if current_path == 'mrsport_listeclubfootball' %}active{% endif %}">
                                <a class="nav-link" href="{{ path('mrsport_listeclubhockey') }}">Hockey</a>
                            </li> 
                        </ul>
                    </div> 
                </div>
                <br>
                <!-- End Side Navigation --> 
                <!-- NewsLetter --> 
                <div class="card backgd_newsletter ">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">NewsLetter</h2>
                        <p>Nec minus feminae quoque calamitatum participes fuere similium. </p> 
                    
                    <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div> 
                </div>
                <br>
                <!-- End Side Navigation --> 
                <!-- News --> 
                <div class="card backgd_news ">
                    <div class="card-body">
                        <h2 class="card-title yellow text-uppercase">News</h2>
                    
                        <img src="{{ asset('img/news.png') }}" alt="..." class="img-thumbnail">
                    
                    </div> 
                </div>
                <!-- End News--> 
            </div>              
           
                {# Table #}
                <div class="col-md-8">
                    <table class="table table-bordered table-hover " >
                        <thead class="">
                            <tr>
                                {# <th scope="col" >Id</th> #}
                                <th class="" scope="col" >Nom du club</th>

                                <!--Update events-->
                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <th scope="col" >Modifier</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for club in clubs %}
                            <tr >
                                {# <td><a href="{{ path('evenements_show', { 'id': evenement.id }) }}">{{ evenement.id }}</a></td> #}
                                <td>
                                    <a href="{{ path('club_show', { 'id': club.id }) }}" class="nav-link">
                                        <span class="name_evenement">{{ club.name }}</span> <br>
                                    </a>
                                </td>

                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <td>
                                    <ul>
                                        <li>
                                            <a class="nav-link date_evenement" href="{{ path('club_edit', { 'id': club.id }) }}">Modifier</a>
                                        </li>
                                    </ul>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center p_events" >
                        <a class="nav-link" href="{{ path('club_index') }}">Retour à la liste des clubs</a>

                        <p class="text-center ">Vous participez à un évènement, avez connaissance d'un évènement sportif ou vous voulez enregistrer un club n'hésitez pas à le partager avec nous.</p>
                        <a class="btn btn-success" href="{{ path('evenements_new') }}">Je propose un évenement</a>
                        <a class="btn btn-warning" href="{{ path('club_new') }}">Je propose un club</a>
                    </div>   
                </div>
            </div>
        </div>
    </div>      
 </div>
{% endblock %}


