{% extends 'layout.html.twig' %}

{% block body %}

 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>


{# stats #}
          <div class="card-deck">
            <div class="card border-success">
              <img class="card-img-top mx-auto" src="{{ asset('public/img/icon_user.svg') }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Les 5 derniers utilisateurs connectés</h5>
                <p class="card-text">
                  {% for user in users %}
                    <ul><li>
                        {{ user.username }}
                    </li></ul>
                  {% endfor %}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card border-warning">
              <img class="card-img-top mx-auto" src="{{ asset('public/img/icon_club.svg') }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Les 5 derniers clubs ajoutés</h5>
                <p class="card-text">
                  {% for club in clubs %}
                    <ul><li>
                      {{ club.name }}
                    </li></ul>
                  {% endfor %}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card border-primary">
              <img class="card-img-top mx-auto" src="{{ asset('public/img/icon_event.svg') }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Les 5 derniers événements ajoutés</h5>
                <p class="card-text"> 
                  {% for evenement in evenements %}
                    <ul><li>
                      {{ evenement.name }}
                    </li></ul>
                    {% endfor %}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
{# endstats #}
</div>
</div>
</main>
</div>
</div> 

    {% endblock body %}