{% extends 'layout.html.twig' %}

{% block body %}
{# body page accueil dashboard #}

<div class="wrap-dash">
  <div class="container containerdash">
    <div class="row">
      <main role="main" class="col-lg-12">
        <div class="card-deck">
          <div class="card border-success">
            <img class="card-img-top mx-auto" src="{{ asset('public/img/icon_user.svg') }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Les 5 derniers utilisateurs connectés</h5>
              <p class="card-text">
                {% for user in users %}
                  <ul class="list-group list-group-flush"><li class="list-group-item">
                      {{ user.username }}
                  </li></ul>
                {% endfor %}</p>
                <br>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card border-warning">
            <img class="card-img-top mx-auto" src="{{ asset('public/img/icon_club.svg') }}" alt="Card image cap">
            <div class="card-body">
              <h5 style="strong" class="card-title">Les 5 derniers clubs ajoutés</h5>
              <p class="card-text">
                {% for club in clubs %}
                  <ul class="list-group list-group-flush"><li class="list-group-item">
                    {{ club.name }}
                  </li></ul>
                {% endfor %}</p>
                <br>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

          <div class="card border-primary">
            <img class="card-img-top mx-auto" src="{{ asset('public/img/icon_event.svg') }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Les 5 derniers événements ajoutés</h5>
              <p class="card-text"> 
                {% for evenement in evenements %}
                  <ul class="list-group list-group-flush"><li class="list-group-item">
                    {{ evenement.name }}
                  </li></ul>
                  {% endfor %}</p>
                  <br>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    {# endstats #}
    </div>
    </div>
    </main>
  
 

    {% endblock body %}