<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {# <link rel="icon" href="../../../../favicon.ico"> #}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico')}}">
    {# Font Awesome #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    {# Google font #}
	{# <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css"> #}
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet">

{#     
    <link href="/Applications/MAMP/htdocs/projet/MRSPORT/mrsport/app/Resources/public/css/footer.css" rel="stylesheet" type="text/css"> #}

    <title>{% block title %}{% endblock %}</title>

    <!-- Custom CSS 
    =================
    =================-->
        {% block stylesheets %}
            <!-- Bootstrap -->
            {% stylesheets '@Style_Vendors' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" /> 
            {% endstylesheets %}  

            <!-- My CSS -->
            {% stylesheets '@Style_Main' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />    
            {% endstylesheets %}

        {% endblock %}

        {% block css %}{% endblock %}
    
</head>
<body>
    <div class="wrapper">
        <!-- Navbar  -->  
        {# {% block socialmedia %}{% include 'socialmedia.html.twig' %}{% endblock %} #}
            
        {% block nav %}{% include 'navbar.html.twig' %}{% endblock %}
        
        {% block slider %}{% include 'slider.html.twig' %}{% endblock %}
        
        <main class="main">
        <!-- Body  -->        
            {% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
            {% endblock body %}
        </main>  

        {% block footer %}{% include 'footer.html.twig' %}{% endblock %}
        

        <!-- Script Javascript -->
        {% block javascript %}
            {% javascripts '@Script_Vendor' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
            {% javascripts '@Script_Perso' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
    </div>   
</body>
</html>
