<!-- Navbar -->
<nav class="navbar sticky-top  navbar-expand-lg navbar-dark  ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('mrsport_homepage') }}"><img src="{{ asset('img/logo_rms2.png') }}" alt="logo Métropole Rouen Sport" width="80" height="80"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!--Chemin lien active-->
        {% set current_path = app.request.get('_route') %}
        {# {{ current_path }} #}
        <!--End lien active-->

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item {% if current_path == 'mrsport_homepage' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('mrsport_homepage') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown {% if current_path == 'mrsport_football' %}active {% elseif current_path == 'mrsport_hockey' %}active{% elseif current_path == 'mrsport_basket' %}active {% elseif current_path == 'mrsport_rugby' %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('mrsport_football') }}">Football</a>
                        <a class="dropdown-item" href="{{ path('mrsport_hockey') }}">Hockey</a>
                        <a class="dropdown-item" href="{{ path('mrsport_basket') }}">Basket</a>
                        <a class="dropdown-item" href="{{ path('mrsport_rugby') }}">Rugby</a>
                    </div>
                </li>
                <li class="nav-item {% if current_path == 'evenements_index' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('evenements_index') }}">Evenements Sportifs</a>
                </li>
                <li class="nav-item {% if current_path == 'club_index' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('club_index') }}">Clubs</a>
                </li>
                <li class="nav-item {% if current_path == 'mrsport_contact' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('mrsport_contact') }}">Nous Contacter</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li class="nav-item {% if current_path == 'fos_user_profile_show' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                    </li>
                    <li class="nav-item {% if current_path == 'fos_user_security_logout' %}active{% endif %}">
                        <a class="nav-link logout" href="{{ path('fos_user_security_logout') }}"><i class="fas fa-user-circle fa-lg"></i> Log-out</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if current_path == 'fos_user_registration_register' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Inscription </a>
                    </li>
                    <li class="nav-item {% if current_path == 'fos_user_security_login' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }} "><i class="fas fa-user-circle fa-lg"></i> Log-in</a>
                    </li>
                {% endif %}
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li class="nav-item {% if current_path == 'mrsport_dashboard' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('mrsport_dashboard') }}">Dashboard </a>
                    </li>
                {% endif %}
                
                
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
