<header>
    <!-- Slider Flexslider -->
    {# <div class="flexslider position-relative">
        <ul class="slides">
            <li>
                <img src="{{ asset('img/hockey.png')}}" alt="third slide Hockey" />
                <div class="flex-caption">
                    <p>Victoire des <span class="text-warning">Dragons de Rouen</span></p>
                </div>
            </li>
            <li>
                <img src="{{ asset('img/basket2.png')}}" alt="Second slide Basket" />
                <div class="flex-caption">
                    <p>Qualification <span class="text-warning">de Rouen Basket</span></p>
                </div>
            </li>
            <li>
                <img src="{{ asset('img/foot.png')}}" alt="First slide Football" />
                <div class="flex-caption">
                    <p>Victoire de <span class="text-warning">QRM</span> dimanche</p>
                </div>
            </li>
        </ul>
    </div> #}
 
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner"> 
            <div class="carousel-item active">
                <img class="d-block w-100" src="{{ asset('img/basket2.png')}}" alt="Second slide">

                <div class="carousel-caption d-none d-md-block">
                    <h5 >Victoire <span class="text-warning">R.M Basket </span></h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ asset('img/feminin.jpg')}}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Qualification <span class="text-warning">de F.C. Feminin Rouen</span></h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{{ asset('img/foot.png')}}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Victoire de <span class="text-warning">QRM</span> dimanche</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
   
</header>
