{# {% extends "@FOSUser/layout.html.twig" %} #}
{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
    <div class=row>
        <div class="col-sm-4 mr-auto ml-auto">
            <h2 class="text-center">Connexion</h2>
        
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
            
        <form class="login" action="{{ path("fos_user_security_check") }}" method="POST">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input class="form-control" type="text" id="username" name="_username" value="" required="required" autocomplete="username" placeholder="Votre identifiant"/>
            <br>
            <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Votre mot de passe" />
            <br>
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me
            </label>
            <br>      
            <button type="submit" id="_submit" name="_submit" class="btn btn-block btn-success">Valider</button>
                
            <div class="col-md-12 ">
                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">ou</span>
                </div>
                <p class="text-center text-muted">Inscrivez vous afin de bénéficier de nombreuse fonctionnalité sur notre site</p>
            </div>
            <div class="text-center ">
            <a class="nav-link btn btn-block btn-danger send-button tx-tfm" href="{{ path('fos_user_registration_register') }}">Inscription</a>
            </div>
            <br>        
        </form>

{% endblock body %}
